examples/service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="service" targetNamespace="http://www.example.org/service/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/service/">
      <xsd:element name="someOperation"
      	type="tns:SomeOperationRequest">
      </xsd:element>
      <xsd:element name="someOperationResponse"
      	type="tns:SomeOperationResponse">
      </xsd:element>
      <xsd:element name="someOperationFault">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="someOperationFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="BaseRequest" abstract="true">
                <xsd:annotation>
                	<xsd:documentation>Базовый запрос</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
      		<xsd:element name="login" type="xsd:string">
      			<xsd:annotation>
      				<xsd:documentation>Логин для авторизации</xsd:documentation>
      			</xsd:annotation></xsd:element>
      		<xsd:element name="password" type="xsd:string">
      			<xsd:annotation>
      				<xsd:documentation>Пароль для авторизации</xsd:documentation>
      			</xsd:annotation></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SomeOperationRequest">
                <xsd:annotation>
                	<xsd:documentation>Тестовый запрос на получение каких-то данных</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
      		<xsd:extension base="tns:BaseRequest">
      			<xsd:sequence>
      				<xsd:element name="someId"
      					type="xsd:string">
                                <xsd:annotation>
                                	<xsd:documentation>Какой-то идентификатор</xsd:documentation>
                                </xsd:annotation>
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="SomeOperationResponse">
                <xsd:annotation>
                	<xsd:documentation>Ответ на тестовый запрос</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
      		<xsd:extension base="tns:BaseResponse">
      			<xsd:sequence>
      				<xsd:element name="someData" type="tns:SomeData"
      					maxOccurs="unbounded" minOccurs="0">
                                <xsd:annotation>
                                	<xsd:documentation>Массив каких-то элементов</xsd:documentation>
                                </xsd:annotation>
      				</xsd:element>
      			</xsd:sequence>
      		</xsd:extension>
      	</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="BaseResponse" abstract="true">
                <xsd:annotation>
                	<xsd:documentation>Базовый ответ, общий для всех ответов</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
            		<xsd:element name="traceId" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="SomeData">
                <xsd:annotation>
                	<xsd:documentation>Какие-то структурированные данные</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
            		<xsd:element name="id" type="xsd:string">
            			<xsd:annotation>
            				<xsd:documentation>Идентификатор записи</xsd:documentation>
            			</xsd:annotation></xsd:element>
            		<xsd:element name="name" type="xsd:string">
            			<xsd:annotation>
            				<xsd:documentation>Название</xsd:documentation>
            			</xsd:annotation></xsd:element>
            		<xsd:element name="description" type="xsd:string">
            			<xsd:annotation>
            				<xsd:documentation>Описание</xsd:documentation>
            			</xsd:annotation></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="someOperationRequest">
    <wsdl:part element="tns:someOperation" name="request"/>
  </wsdl:message>
  <wsdl:message name="someOperationResponse">
    <wsdl:part element="tns:someOperationResponse" name="response"/>
  </wsdl:message>
  <wsdl:message name="someOperationFault">
  	<wsdl:part name="fault" element="tns:someOperationFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="service">
    <wsdl:operation name="someOperation">
      <wsdl:input message="tns:someOperationRequest"/>
      <wsdl:output message="tns:someOperationResponse"/>
            <wsdl:fault name="fault" message="tns:someOperationFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceSOAP" type="tns:service">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="someOperation">
      <soap:operation soapAction="http://www.example.org/service/someOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port binding="tns:serviceSOAP" name="serviceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
    <wsdl:port name="serviceSOAP-dev" binding="tns:serviceSOAP">
    	<soap:address location="http://www.example.org/test.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
